@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Monopoly", sans-serif;
}

body {
  background-color: #15181c;
}

.inner-shadow {
  --tw-shadow: inset 0 -3px 6px rgba(0,0,0,0.8);
  --tw-shadow-colored: inset 0 -3px 6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}